@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --maincolor: #6279F3;
    --subcolor1: #B1BCF9;
    --subcolor2: #CFD8FF;
    font-family: 'ONE-Mobile-Title', sans-serif;
}

section {
    background: linear-gradient(to bottom, var(--maincolor), var(--subcolor1));
    text-align: center;
    color: white;
    padding-top: 100px;
}

article {
    margin-bottom: 100px;
}

article:last-of-type {
    margin-bottom: 0;
}

#bg {
    width: 1000px;
    position: absolute;
    left: 120px;
    top: 150px;
    z-index: 1;
}

#logo {
    height: 350px;
}

#box1 {
    margin-top: 20px;
    z-index: 2;
    width: 730px;
    font-size: 18px;
    line-height: 2em;
    box-shadow: 10px 10px 15px var(--maincolor);
    background-color: var(--maincolor);
    border-radius: 30px;
}

#box1 p {
    padding: 10px 0;
}

h2 {
    font-size: 55px;
    margin-bottom: 10px;
}

article:nth-of-type(1) h3 {
    font-size: 35px;
}

h3 {
    font-size: 40px;
}

.card {
    width: 200px;
    height: 250px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    margin: 30px 20px;
}

.card img {
    width: 100px;
    height: 130px;
    margin-top: 15px;
}

.name {
    color: var(--maincolor);
    font-size: 30px;
    margin-top: 10px;
}

.position {
    color: var(--maincolor);
    font-size: 14px;
    margin-top: 5px;
}

#logo {
    margin: 30px 0;
}

#box2 {
    margin-top: 20px;
    z-index: 2;
    width: 730px;
    font-size: 23px;
    line-height: 1.5em;
}

#box2 p {
    padding: 10px 0;
}

.logo {
    height: 60px;
    margin: 90px 20px 100px 20px;
}