body {
    background-color: #f2f2f2;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    text-align: center;
    background: no-repeat center / cover url(img/city_img.png);
    position: relative;
}

.top .filter {
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 10;
}

.top>div {
    width: 100%;
    z-index: 20;
}

.top p {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.top div div {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    gap: 60px;
}

.top button {
    background-color: white;
    width: 15rem;
    padding: 5px 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 32px;
}


h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

table {
    text-align: center;
    margin: 30px auto 150px;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 5px 20px;
}

.year {
    font-size: 30px;
    font-weight: 500;
}

.month {
    font-size: 25px;
    font-weight: 300;
}

.content {
    width: 70vw;
    border-top: 0.5px solid #CFCFCF;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}

.first {
    border-top: 2px solid #CFCFCF;
}

.list_2 {
    display: none;
}

.list_2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 85vw;
    margin: 5rem auto;
}

.card {
    background-color: white;
    width: 40rem;
    height: 45rem;
    border-radius: 2rem;
}

.card>a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
    overflow: hidden;
}


.card img {
    width: 100%;
    height: 60%;
    border-radius: 20px;
    object-fit: cover;
}

.title {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.info {
    display: block;
    margin-top: 1rem;
    color: #898989;
    font-size: 1.6rem;
}

.index {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 3rem 0;
    text-align: center;
    cursor: pointer;
}

.ind_2,
.ind_3 {
    display: none;
}

.index span {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #bebebe;
}

.index span.on {
    color: #000;
}

.list_3 {
    display: none;
}

@media (max-width:1400px) {
    .card {
        width: 35rem;
        height: 40rem;
    }

}

@media (max-width:1280px) {
    .list_2 ul {
        gap: 3rem;
    }

    .card {
        width: 30rem;
        height: 35rem;
    }

    .title {
        font-size: 2rem;
    }
}

@media (max-width:989px) {

    .list_2 ul {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: none;
    }

    .card {
        width: 28rem;
        height: 33rem;
    }

    .title {
        font-size: 1.8rem
    }

    .top div div {
        gap: 30px;
    }
}

@media (max-width:768px) {
    h2 {
        margin-top: 20px;
        font-size: 20px;
    }

    table {
        margin: 10px auto 50px;
    }

    th,
    td {
        padding: 5px;
    }

    .year {
        font-size: 1.5rem;
    }

    .month {
        font-size: 1.2rem;
    }

    .content {
        width: 60vw;
    }

    .list_2 ul {
        grid-template-columns: repeat(2, 1fr);
        max-width: 80vw;
        margin: 3rem auto;
    }

    .card {
        width: 25rem;
        height: 30rem;
    }
}

@media (max-width: 500px) {
    .top {
        height: 14rem;
    }

    .top p {
        font-size: 2.4rem;
    }

    .top div div {
        margin-top: 2.5rem;
        gap: 1rem;
    }

    .top button {
        width: 100px;
        font-size: 1.2rem;
        padding: 3px;
    }

    .content {
        font-size: 1.2rem;
    }

    .first {
        border-top: 1px solid #CFCFCF;
    }

    .card {
        width: 16rem;
        height: 18rem;
        border-radius: 1.5rem;
    }

    .card a {
        padding: 15px;
    }

    .card img {
        height: 50%;
        border-radius: 10px;
    }

    .title {
        margin-top: 10px;
        height: 50%;
    }

    .title {
        font-size: 11px;
    }

    .info {
        margin-top: 5px;
        font-size: 9px;
    }

    .index {
        gap: 25px;
    }
}