.with_nawa {
    height: 100vh;
    display: flex;
}

.nawa_partner p {
    width: 100%;

    text-align: center;
    font-size: 3.9rem;
    font-weight: 500;
}

.nawa_partner p:nth-of-type(2) {
    margin: 3rem 0;
    font-size: 2.1rem;
}

.nawa_partner ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 25px;
}

.logo {
    width: 18rem;
    height: 8rem;
    object-fit: contain;
}

@media (max-width: 500px) {
    .with_nawa {
        height: 100vh;
    }

    .nawa_partner p {
        font-size: 20px;
        font-weight: 500;
    }

    .nawa_partner p:nth-of-type(2) {
        margin: 5px 0;
        font-size: 12px;
    }

    .nawa_partner ul {
        gap: 60px;
        margin-top: 25px;
    }

    .logo {
        width: 80px;
        height: 30px;
    }
}