/* 공통 */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'GmarketSansMedium'
}

:root {
    --mainColor: #538bd4;
    --subColor: #a6c7e5;
}

.screen_out {
    display: none
}

/* 헤더 */
header {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    height: 100px;
    min-width: 1200px;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}

h1 {
    text-indent: -9999px;
    overflow: hidden;
    width: 61px;
    height: 41px;
    background: no-repeat 0 / 61px url(img/nawa_logo.png);
    position: absolute;
    left: 40px
}

header ul {
    display: flex;
    gap: 100px;
    margin-top: 10px;
}

header a {
    text-decoration: none;
    color: var(--mainColor);
    font-weight: bold;
}

nav::after {
    content: "";
    width: 62px;
    height: 50px;
    ;
    background: 0 0 / 62px url(img/nawa_cup.png);
    display: block;
    position: absolute;
    right: 40px;
    top: 20px
}

/* 메인 */
main {
    color: var(--mainColor);
}

/* basic-form : 문서 삽입용 틀 */
.basic-form {
    text-align: center;
    margin-bottom: 30px;
}

.basic-form div {
    text-align: center;
    margin: 20px 15px 20px;
    width: 250px;
    height: 330px;
    background-color: white;
    box-shadow: 0 0 10px 0;
}

.basic-form a {
    border: none;
    border-radius: 15px;
    background-color: white;
    color: var(--mainColor);
    font-size: 0.8em;
    text-decoration: none;
    padding: 0.6em 2em;
    margin: 10px;
}

/* 푸터 */
footer {
    height: 200px;
    background: var(--mainColor);
    color: white;
    min-width: 800px;
}

address {
    padding: 30px 0 0 100px;
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
}