section:first-child {
    background: no-repeat center / cover url(img/room.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
    max-width: none;
}

.contact {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25%;
    z-index: 20;
    width: 700px;
}

fieldset {
    outline: none;
    border: none;
}

h2 {
    width: 300px;
    margin: 0;
    font-size: 40px;
    color: white;
}

input,
textarea {
    width: 400px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    padding-left: 25px;
    font-size: 18px;
    margin-bottom: 25px;
    resize: none;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--subcolor2);
}

textarea {
    padding-top: 10px
}

button {
    border-radius: 30px;
    border: none;
    background-color: #585858;

    width: 400px;
    height: 50px;
    margin-top: 50px;

    font-size: 18px;
    text-align: center;
    color: white;

    transition: ease all .5s;
}

button:hover {
    background-color: black;
}

.map {
    text-align: center;
    font-size: 0;
    font-weight: bold;
}