@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: 'Noto Sans KR', 'san-serif';
}

html,
body {
    font-size: 62.5%
}

.screen_out {
    display: none;
}

section {
    overflow: hidden;
}

section>div,
main>div {
    max-width: 1920px;
    margin: auto;
}

header {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1000;
    transition: ease all .3s;
}

header.on {
    background-color: #585858;
}

/*모바일 특정 섹션에서 nav 배경 제거*/

header.no-bg {
    background: none;
}

header.no-bg .main_logo {
    background: no-repeat center / contain url(img/logo_rev.png);
}

header.no-bg button {
    color: white;
}

header>div:nth-child(1) {
    position: relative;
    height: 100%;
}

.main_logo {
    display: block;
    width: 40px;
    height: 25px;
    text-indent: -9999px;
    overflow: hidden;
    background: no-repeat center / contain url(img/logo.svg);
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

header.on .main_logo {
    background: no-repeat center / contain url(img/logo_rev.png);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header ul {
    display: flex;
    align-items: center;
    gap: 10rem;
    height: 100%;
}


header ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header ul a {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    transition: ease all .3s;
}

header.on ul a {
    color: #fff;
}

header ul li a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: ease all .3s;
}

header ul li:hover a::after {
    width: 100%;
}

.nav-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.nav-btn button {
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

header.on .nav-btn button {
    color: #fff;
}

.close-btn {
    display: none;
}

.change-lang {
    gap: 0;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.change-lang li {
    padding: 0 1.2rem;
    height: auto;
    position: relative;
}

.change-lang li:first-child::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background: #d1d6db;
    position: absolute;
    right: 0;
}

.change-lang li:not(.on) a {
    color: #d1d6db;
}

body {
    overflow-x: hidden;
}

footer {
    background: #757575;
    color: #DCDCDC;
    height: 100%;
}

footer>div {
    max-width: 1920px;
    margin: auto;
    padding: 30px 100px;
}

address {
    font-style: normal;
}

address p:first-child {
    font-size: 2rem;
    font-weight: bold;
    line-height: 250%;
}

address p~p {
    font-size: 1.8rem;
}

footer div>p {
    margin-top: 2rem;
    text-align: center;
}

@media (max-width:1800px) {

    html,
    body {
        font-size: 61%
    }
}

@media (max-width:1680px) {

    html,
    body {
        font-size: 58%
    }
}

@media (max-width:1440px) {

    html,
    body {
        font-size: 56%
    }
}

@media (max-width:1280px) {

    html,
    body {
        font-size: 54%
    }
}

@media (max-width:989px) {

    html,
    body {
        font-size: 52%
    }

    header ul {
        gap: 50px;
    }
}

@media (max-width:768px) {

    html,
    body {
        font-size: 55%
    }

    header {
        background: none;
    }

    .main_logo {
        width: 3rem;
        height: 2.5rem;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(25, 25, 25);
        top: 50%;
        transform: translateY(-50%);
    }

    header ul {
        display: none;
    }

    header ul li {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    header ul a {
        font-size: 3.5rem;
        position: relative;
    }

    header ul li a::after {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .change-lang {
        right: 40px;
    }

    .change-lang a {
        font-size: 1.6rem;
    }

    footer>div {
        padding: 1.5rem 2rem;
    }

    address p:first-child {
        font-size: 2rem;
    }

    address p~p {
        font-size: 1.4rem;
    }
}

@media (max-width:500px) {

    html,
    body {
        font-size: 60%
    }

}