.intro_nawa {
    position: relative;
    width: 100%;
    height: 100vh;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
    max-width: none;
}

.intro_nawa>div:not(.filter) {
    position: relative;
    background: no-repeat center /cover url(img/main_picture.png);
    max-width: none;
    height: 100%;
}

.intro_nawa>div>div {
    position: absolute;
    top: 55%;
    left: 34.5%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.intro_nawa p {
    margin-bottom: 3rem;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.5;
}

.intro_nawa p:nth-of-type(1) {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.5;
}

.change_page {
    display: block;
    width: 18rem;
    height: 5rem;
    background: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    font-size: smaller;
    color: #000;
}

.change_page span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.1rem;
}

.nawa_found {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nawa_found h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

.nawa_found h2,
.nawa_found p,
.nawa_found img {
    opacity: 0;
    transform: translateY(50px);
    transition: ease opacity .5s, ease transform .5s;
}

.nawa_found.on :where(h2, p, img) {
    opacity: 1;
    transform: translateY(0);
}

.nawa_found_item {
    display: flex;
    margin-top: 4rem;
    gap: 5rem;
}

.nawa_found_item p {
    font-size: 1.8rem;
    line-height: 2;
    transition-delay: .5s;
}

.nawa_found_item p:not(:first-child) {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.nawa_found_item p:nth-of-type(2) {
    transition-delay: 1s;
}

.nawa_found_item p:last-child {
    transition-delay: 1.5s;
}

.nawa_found_item img {
    width: auto;
    height: 23rem;
    transition-delay: .3s;
}

.nawa_product {
    background: #f5f5f5;
    height: 100vh;
    position: relative;
}

.color_option {
    position: absolute;
    right: 5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 10rem;
    height: 6rem;
    z-index: 20;
}

.color_option span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FBCDBD;
    border-radius: 1rem;
    border: none;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.color_option span:nth-child(2) {
    background-color: #C8C8C8;
}

.color_option span:nth-child(3) {
    background-color: #545150;
}

.color_option span:hover {
    width: 5rem;
}

.color_option .on {
    width: 5rem;
}

.nawa_product img {
    display: block;
    position: absolute;
    top: 5%;
    left: 8rem;
    width: 60%;
}

.nawa_product>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.nawa_product h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.5;
}

.nawa_product strong {
    display: block;
    font-size: 4rem;
    font-weight: 700;
}

.we_nawa {
    height: 100vh;
}

.we_nawa h2 {
    margin: 10rem 0 5rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
}

.video_slide {
    position: relative;
}

.video_wrap {
    display: flex;
    gap: 50px;
    width: 1000%;
}

.video_wrap iframe {
    display: block;
    width: 100%;
    height: 100%;
}

#vid_btn {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    pointer-events: none;
}

#vid_btn button {
    border: none;
    outline: none;
    background: none;
    font-size: 15rem;
    color: #eee;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    position: absolute;
    left: -7%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: visible;
    transition: ease all .5s;
}

#vid_btn button:hover {
    color: #fff;
}

#vid_btn button:nth-child(2) {
    left: auto;
    right: -7%;
}

.nawa_partner {
    padding: 15rem 0;
}

.nawa_partner p {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
}

.nawa_partner p:nth-of-type(2) {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.nawa_partner ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5rem;
    max-width: 70rem;
    margin: auto;
}

.logo {
    width: 14rem;
    height: 6rem;
    object-fit: contain;
}

@media(max-width:1280px) {
    .nawa_product img {
        width: 100%;
        left: -20%;
    }

    .nawa_product>div:last-child {
        left: 65%;
    }

}

@media(max-width:989px) {
    .nawa_product img {
        width: 120%;
        left: -30%;
    }
}

@media (max-width:768px) {

    .we_nawa {
        height: 60vh;
    }

    .intro_nawa p {
        font-size: 1.6rem;
    }

    .intro_nawa p:nth-of-type(1) {
        font-size: 2.5rem;
    }

    .change_page {
        width: 12rem;
        height: 4rem;
    }

    .change_page span {
        font-size: 16px;
    }
}

@media (max-width:500px) {
    .intro_nawa>div>div {
        width: 100%;
        left: 1rem;
        transform: translate(0, -50%);
    }

    .nawa_found>div {
        position: relative;
    }

    .nawa_found>div::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: no-repeat center / contain url(img/logo_name.png);
        position: absolute;
        opacity: .1;
    }

    .nawa_found h2 {
        font-size: 2.5rem;
    }

    .nawa_found_item p {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .nawa_found_item p:not(:first-child) {
        font-size: 1.8rem;
    }

    .nawa_found_item img {
        display: none;
    }

    .color_option {
        top: 30%
    }

    .nawa_product img {
        top: 50%;
        transform: translateY(-50%);
    }

    .nawa_product>div:last-child {
        left: 40%;
        top: 75%;
    }

    .nawa_product h2 {
        font-size: 1.8rem;
    }

    .nawa_product strong {
        font-size: 3rem;
    }

    .nawa_product .change_page {
        display: none;
    }

    .we_nawa h2 {
        font-size: 2.5rem;
    }

    #vid_btn button {
        font-size: 7rem;
    }

    .nawa_partner p {
        font-size: 2rem;
        font-weight: bold;
    }

    .nawa_partner ul {
        gap: 0;
    }

    .logo {
        width: 10rem;
    }
}