.intro_nawa {
    position: relative;
    width: 100%;
    height: 100vh;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
    max-width: none;
}

.intro_nawa>div:not(.filter) {
    position: relative;
    background: no-repeat center /cover url(img/main_picture.png);
    max-width: none;
    height: 100%;
}

.intro_nawa>div>div {
    position: absolute;
    top: 55%;
    left: 34.5%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.intro_nawa p {
    margin-bottom: 3rem;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.5;
}

.intro_nawa p:nth-of-type(1) {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.5;
}

.change_page {
    display: block;
    width: 18rem;
    height: 5rem;
    background: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    font-size: smaller;
    color: #000;
}

.change_page span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.1rem;
}

.nawa_found {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nawa_found h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

.nawa_found h2,
.nawa_found p,
.nawa_found img {
    opacity: 0;
    transform: translateY(50px);
    transition: ease opacity .5s, ease transform .5s;
}

.nawa_found.on :where(h2, p, img) {
    opacity: 1;
    transform: translateY(0);
}

.nawa_found_item {
    display: flex;
    margin-top: 4rem;
    gap: 5rem;
}

.nawa_found_item p {
    font-size: 1.8rem;
    line-height: 2;
    transition-delay: .5s;
}

.nawa_found_item p:not(:first-child) {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.nawa_found_item p:nth-of-type(2) {
    transition-delay: 1s;
}

.nawa_found_item p:last-child {
    transition-delay: 1.5s;
}

.nawa_found_item img {
    width: auto;
    height: 23rem;
    transition-delay: .3s;
}

.nawa_product {
    background: #f5f5f5;
    height: 100vh;
    position: relative;
}

.color_option {
    position: absolute;
    right: 5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 10rem;
    height: 6rem;
    z-index: 20;
}

.color_option span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FBCDBD;
    border-radius: 1rem;
    border: none;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.color_option span:nth-child(2) {
    background-color: #C8C8C8;
}

.color_option span:nth-child(3) {
    background-color: #545150;
}

.color_option span:hover {
    width: 5rem;
}

.color_option .on {
    width: 5rem;
}

.nawa_product img {
    display: block;
    position: absolute;
    top: 5%;
    left: 8rem;
    width: 60%;
}

.nawa_product>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.nawa_product h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.5;
}

.nawa_product strong {
    display: block;
    font-size: 4rem;
    font-weight: 700;
}

.we_nawa {
    height: 100vh;
}

.we_nawa h2 {
    margin: 10rem 0 5rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
}

.video_slide {
    position: relative;
}

.video_slide video {
    width: 100%;
    height: 100%;
}

.nawa_partner {
    padding: 15rem 0;
}

.nawa_partner p {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
}

.nawa_partner p:nth-of-type(2) {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.nawa_partner ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5rem;
    max-width: 70rem;
    margin: auto;
}

.logo {
    width: 14rem;
    height: 6rem;
    object-fit: contain;
}

@media(max-width:1280px) {
    .nawa_product img {
        width: 100%;
        left: -20%;
    }
}

@media(max-width:989px) {
    .nawa_product img {
        width: 120%;
        left: -30%;
    }
}

@media (max-width:768px) {
    .nawa_found {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #000;
        color: #fff;
    }

    .nawa_found h2 {
        display: none;
    }

    .nawa_found>div {
        display: flex;

        position: relative;
        margin: 0;
    }

    .nawa_found::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(img/logo_rev.png);
        background-size: 30%;
        background-repeat: space;
        opacity: 0.1;
    }

    .nawa_found_item {
        margin-top: 0;
    }

    .nawa_found_item p {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.5;
    }

    .nawa_found_item p:nth-child(2) {
        font-size: 1.6rem;
    }

    .nawa_found_item p:nth-child(3) {
        font-size: 4.5rem;
    }

    .nawa_found_item img {
        display: none;
    }

    .we_nawa {
        height: 60vh;
    }

    .intro_nawa>div:not(.filter) {
        background: no-repeat 60% 0 /cover url(img/main_picture.png);
    }

    .intro_nawa>div>div {
        left: 3.6rem;
        top: 30%;
        transform: none;
    }

    .intro_nawa p {
        font-size: 1.6rem;
    }

    .intro_nawa p:nth-of-type(1) {
        font-size: 3.5rem;
    }


    .nawa_product {
        background: no-repeat center /contain url(img/nawa_cup1.png), #f5f5f5;
    }

    .color_option {
        top: 25%;
    }

    .nawa_product img {
        display: none;
    }

    .nawa_product>div:last-child {
        left: 50%;
        top: 26%;
    }

    .nawa_product h2 {
        font-size: 2rem
    }

}

@media (max-width:500px) {
    .intro_nawa>div:not(.filter) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro_nawa>div>div {
        position: static;
        width: auto;
        transform: none;
    }

    .nawa_product {
        background: no-repeat center /180% url(img/nawa_cup1.png), #f5f5f5;
    }

    .color_option {
        top: 25%;
    }

    .nawa_product img {
        display: none;
    }

    .nawa_product>div:last-child {
        left: 50%;
        top: 26%;
    }

    .nawa_product h2 {
        font-size: 2rem
    }

    .we_nawa {
        height: auto;
    }

    .we_nawa h2 {
        margin: 30px 0;
        font-size: 2.5rem;
        font-weight: 700;
    }

    .video_slide {
        height: auto;
        margin-bottom: 100px;
    }

    #vid_btn button {
        font-size: 7rem;
    }

    .with_nawa {
        height: auto;
    }

    .nawa_partner {
        padding: 0;
    }

    .nawa_partner p {
        font-size: 2rem;
        font-weight: bold;
    }

    .nawa_partner p:nth-of-type(2) {
        display: none;
    }

    .nawa_partner ul {
        margin: 20px 0;
        gap: 20px;
        grid-template-columns: 25% 25% 25%;
    }

    .logo {
        width: 10rem;
    }

    .map iframe {
        height: 250px;
    }
}