main {
    font-size: 36px;
}

/* .product_1 {
    background: linear-gradient(to bottom, #F7F7F7, white);
}

.product_1>div {
    position: relative;
    max-width: 1920px;
    height: 100vh;
}

.product_1 img {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}

.product_1 p {
    position: absolute;
    right: 22%;
    top: 53%;
    transform: translateY(-50%);

    font-size: 27px;
    font-weight: 300;
}

.product_1 strong {
    display: block;
    text-align: center;
    font-size: 50px;
} */

.product_1 {
    background: #f5f5f5;
    height: 100vh;
    padding-top: 20px;
}

.color_option {
    position: absolute;
    right: 15%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100px;
    height: 60px;
    z-index: 20;
}

.color_option span {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #FBCDBD;
    border-radius: 10px;
    border: 0px;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.color_option span:nth-child(2) {
    background-color: #C8C8C8;
}

.color_option span:nth-child(3) {
    background-color: #545150;
}

.color_option span:hover {
    width: 50px;
}

.color_option .on {
    width: 50px;
}

.product_1>div:nth-child(2) {
    position: relative;
    z-index: 10;
    height: 540px;
}

.product_1 img {
    display: block;
    position: absolute;
    top: 5%;
    left: 80px;
    width: 60%;
}

.product_1>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 50%;
    width: 300px;
    top: 30%;
    left: 54%;
}

.product_1 h2 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;

    text-align: center;
}

.product_1 strong {
    font-size: 40px;
    font-weight: 700;
}

.question {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.question>p {
    margin: 100px 0;
}

.question>p:nth-of-type(1) {
    margin-top: 50px;
}

.question>p:nth-of-type(2) {
    color: #898989;
}

/* question rise 효과 */

.rise1,
.rise2,
.rise3 {
    transform: translateY(100px);
    opacity: 0;

    transition: ease all 1s;
}

.rise2 {
    transition-delay: 500ms;
}

.rise3 {
    transition-delay: 1200ms;
}

.situ .rise3 {
    transition-delay: 1500ms;
}

.rise1.rise,
.rise2.rise,
.rise3.rise {
    transform: translateY(0px);
    opacity: 1;
}

.process {
    background-color: #f7f7f7;
    max-width: none;
    height: 100vh;
}

.process p {
    padding-top: 100px;
    font-weight: bold;
}

.process ol {
    margin-top: 75px;
}

.process li {
    display: inline-block;
    margin: -25px 30px 50px 30px;

    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;

    padding-top: 70px;
    font-size: 25px;
    font-weight: 400;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
    max-width: none;
}

.question>div:last-child {
    position: relative;

    background: no-repeat url(img/coffee_img.png);
    background-position: left bottom 5%;
    background-size: 110%;

    width: 100%;
    height: 580px;
    padding: 0 160px;

    color: white;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}

.question div:last-child div {
    position: relative;
    z-index: 20;
}

.question div:last-child p:first-child {
    padding-top: 60px;
    margin-bottom: 130px;
}

.question div:last-child p:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.question div:last-child p:last-child {
    margin-top: -40px;
    font-size: 36px;
}

.question strong {
    font-size: 72px;
}

.product_2 {
    background: linear-gradient(to bottom, #F7F7F7, white);
    max-width: none;
}

.product_2>div {
    position: relative;
    max-width: 1920px;
    margin: auto;
}

.product_2 img {
    width: 100%;
}

.product_2>div div {
    position: absolute;
    top: 20%;
    right: 23%;
}

.product_2>div div p {
    font-weight: 300;
}

.product_2>div div p:last-child {
    font-weight: bold;
    font-size: 45px
}

.NAWA_process {
    text-align: center;
}

.NAWA_process li {
    display: inline-block;
    margin: 50px 30px;

    background-color: #E4E4E4;
    border-radius: 50%;
    padding-top: 70px;
    width: 250px;
    height: 250px;

    font-size: 25px;
}

.NAWA_process p {
    margin-top: 25px;

    font-size: 32px;
    font-weight: 500;
}

.NAWA_process video {
    margin: 25px 0 50px 0;
    width: 620px;
    height: 360px;
}