main {
    font-size: 36px;
}

.product_1 {
    background: linear-gradient(to bottom, #F7F7F7, white);
}

.product_1>div {
    max-width: 1920px;
    position: relative;
    height: 100vh;
}

.product_1 img {
    width: 70%;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
}

.product_1 p {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.product_1 strong {
    display: block;
    text-align: center;
}

.question {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.question>p {
    margin: 100px 0;
}

.question>p:nth-of-type(2) {
    color: #898989;
}

.process {
    background-color: #f7f7f7;
    max-width: none;
    height: 600px;
}

.process p {
    font-weight: bold;
    padding-top: 50px;
}

.process ol {
    margin-top: 100px;
}

.process li {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 50px;
    padding-top: 70px;
    font-size: 25px;
}

.question div:last-child {
    background: no-repeat center / cover url(img/coffe_img.png);
    height: 1000px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    position: relative;
    padding: 0 100px;
    text-align: left;
}

.question div:last-child p:first-child {
    padding-top: 100px;
    margin-bottom: 200px;
}

.question div:last-child p:last-child {
    font-size: 32px;
    line-height: 1.5;
}

.situation strong {
    font-size: 60px;
}

.product_2 {
    background: linear-gradient(to bottom, #F7F7F7, white);
    max-width: none;
}

.product_2>div {
    max-width: 1920px;
    margin: auto;
    position: relative;
}

.product_2 img {
    width: 100%;
}

.product_2>div div {
    position: absolute;
    top: 20%;
    right: 10%;
}

.product_2>div div p {
    font-weight: 300;
}

.product_2>div div p:last-child {
    font-weight: bold;
    font-size: 45px
}

.NAWA_process {
    text-align: center;
}

.NAWA_process li {
    width: 250px;
    height: 250px;
    background-color: #E4E4E4;
    border-radius: 50%;
    display: inline-block;
    margin: 50px;
    padding-top: 70px;
    font-size: 25px;
}

.NAWA_process p {
    margin-top: 50px;
    font-weight: bold;
}

.NAWA_process img {
    margin: 50px 0 100px 0;
    width: 640px;
    height: 320px;
}
