section {
    max-width: 1920px;
    height: 100vh;
    font-size: 4rem;
    margin: auto;
}

.nawa_product {
    background: #f5f5f5;
    position: relative;
}

.color_option {
    position: absolute;
    right: 5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 10rem;
    height: 6rem;
    z-index: 20;
}

.color_option span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FBCDBD;
    border-radius: 1rem;
    border: none;
    transition: 0.1s ease-out;
    cursor: pointer;
}

.color_option span:nth-child(2) {
    background-color: #C8C8C8;
}

.color_option span:nth-child(3) {
    background-color: #545150;
}

.color_option span:hover {
    width: 5rem;
}

.color_option .on {
    width: 5rem;
}

.nawa_product img {
    display: block;
    position: absolute;
    top: 15%;
    left: -8rem;
    width: 80%;
}

.nawa_product>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.nawa_product h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.5;
}

.nawa_product strong {
    display: block;
    font-size: 4rem;
    font-weight: 700;
}

.question {
    display: flex;

    text-align: center;
    font-weight: bold;
    font-size: 5.1rem;
}

.question p {
    margin: 10rem 0;
}

.question p:nth-of-type(1) {
    margin-top: 5rem;
}

.question p:nth-of-type(2) {
    color: #898989;
    transition-delay: .75s;

    font-size: 4rem;
}

.question p:nth-of-type(3) {
    transition-delay: 1.5s;
}

/* question rise 효과 */
.question p {
    transform: translateY(50px);
    opacity: 0;
    transition: ease all .5s;
}

.question.on p {
    transform: translateY(0px);
    opacity: 1;
}

.process {
    display: flex;
    background-color: #f7f7f7;
}

.process div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.process p {
    font-size: 4.3rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.process ol,
.process_2 ol {
    display: flex;
    gap: 5rem
}

.process p,
.process li {
    transform: translateY(50px);
    opacity: 0;
    transition: ease transform .5s, ease opacity .5s;
}

.process.on p,
.process.on li {
    opacity: 1;
    transform: translateY(0);
}

.process li,
.process_2 li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    transition-delay: .5s;
}

.process li:nth-of-type(2) {
    transition-delay: 1s;
}

.process li:nth-of-type(3) {
    transition-delay: 1.5s;
}

.situ {
    position: relative;
    background: no-repeat center / cover url(img/coffee_img.png);
}

.situ .filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
}

.situ .filter div {
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-30%, -30%);
    color: white;
}

.situ p {
    transform: translateY(50px);
    opacity: 0;
    transition: ease-in all 0.5s;
}


.situ.on p {
    transform: translateY(0);
    opacity: 1;
}

.situ p:first-child {
    padding-top: 60px;
    margin-bottom: 12rem;
}

.situ p:nth-child(2) {
    font-weight: 400;
    font-size: 2.5rem;

    transition-delay: .5s;
}

.situ p:last-child {
    margin-top: -40px;
    font-size: 4rem;

    transition-delay: .5s;
}

.situ strong {
    font-size: 8rem;

    opacity: 0;
    transition: ease opacity .5s;
    transition-delay: 1.5s;
}

.situ.on strong {
    opacity: 1;
}

.product_2 {
    background: linear-gradient(to bottom, #F7F7F7, white);
    max-width: none;
    height: auto;
}

.product_2>div {
    position: relative;
    max-width: 1920px;
    margin: auto;
}

.product_2 img {
    width: 100%;
}

.product_2>div div {
    position: absolute;
    left: 48%;
    top: 22%;
}

.product_2>div div p {
    font-weight: 300;
    opacity: 0;
    transform: translateY(50px);
    transition: ease all .5s;
}

.product_2>div div p:last-child {
    font-weight: bold;
    font-size: 45px;
    transition-delay: .5s;
}

.product_2.on p {
    opacity: 1;
    transform: translateY(0);
}

.process_2 {
    height: auto;
    text-align: center;
}

.process_2 li,
.process_2 p {
    opacity: 0;
    transform: translateY(50px);
    transition: ease all .5s;
}

.process_2.on li,
.process_2.on p {
    opacity: 1;
    transform: translateY(0);
}

.process_2 li {
    background-color: #E4E4E4;
}

.process_2 li:nth-of-type(2) {
    transition-delay: 1s;
}

.process_2 li:nth-of-type(3) {
    transition-delay: 1.5s;
}

.process_2 p {
    margin-top: 25px;
    font-size: 3.5rem;
    font-weight: 500;
    transition-delay: 2s;
}

.process_2 video {
    margin: 25px 0;
    width: 90vw;
    height: auto;
}

@media(max-width:1280px) {
    .nawa_product img {
        width: 100%;
        left: -20%;
    }

    .nawa_product>div:last-child {
        left: 60%;
    }

}

@media(max-width:989px) {
    .nawa_product img {
        width: 120%;
        left: -30%;
    }
}

@media (max-width:768px) {
    section:not(:first-of-type) {
        height: 80vh;
    }

    .question p {
        margin: 5rem 0;
        font-size: 4rem;
    }

    .question p:nth-of-type(2) {
        font-size: 3rem;
    }

    .process p {
        font-size: 3.5rem;
    }

    .process ol {
        gap: 2rem
    }

    .process li {
        width: 25vw;
        height: 25vw;
    }
}

@media (max-width: 500px) {

    .color_option {
        top: 30%
    }

    .nawa_product img {
        top: 50%;
        transform: translateY(-50%);
    }

    .nawa_product>div:last-child {
        left: 40%;
        top: 75%;
    }

    .nawa_product h2 {
        font-size: 1.8rem;
    }

    .nawa_product strong {
        font-size: 3rem;
    }

    .nawa_product .change_page {
        display: none;
    }

    .question {
        font-size: 18px;
    }

    .question p {
        margin: 10px 0;
    }

    .question p:nth-of-type(1) {
        margin-top: 10px;
    }

    .question p:nth-of-type(2) {
        font-size: 18px;
    }

    .process p {
        font-size: 14px;
    }

    .process ol {
        display: flex;
    }

    .process li,
    .process_2 li {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100px;
        height: 100px;
        padding-top: 0;
        margin: 0 15px;

        font-size: 12px;
    }

    .situ {
        font-size: 8px;
    }

    .situ .filter {
        position: relative;
    }

    .situ .filter div {
        position: absolute;
        left: 10%;
        top: 10%;
        transform: none;
    }

    .situ p:first-child {
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .situ p:nth-child(2) {
        font-size: 10px;
    }

    .situ p:last-child {
        margin-top: -20px;
        font-size: 12px;
    }

    .situ strong {
        font-size: 32px;
    }

    .product_2 img {
        width: 100%;
    }

    .product_2>div div {
        position: absolute;
        left: 48%;
        top: 22%;
    }

    .product_2>div div p {
        font-size: 15px;
    }

    .product_2>div div p:last-child {
        font-size: 20px;
    }

    .process_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .process_2 ol {
        display: flex;
    }

    .process_2 li {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100px;
        height: 100px;
        padding-top: 0;
        margin: 0 15px;

        font-size: 12px;
    }

    .process_2 p {
        margin-top: 25px;
        font-size: 24px;
    }

    .process_2 video {
        margin: 25px 0;
        width: 280px;
        height: 160px;
    }
}